:root {
  color-scheme: light dark;
  --normal-fg: light-dark(black, white);
  --normal-bg: light-dark(white, black);

  --inverse-fg: var(--normal-bg);
  --inverse-bg: var(--normal-fg);
  --caret-color: #E60065;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: monospace;
  color: var(--normal-fg);
  background-color: var(--inverse-bg);
  gap: 1px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: var(--normal-bg);
}

a {
  font-size: 0.9rem;
  color: mediumturquoise;
}

a:hover {
  color: paleturquoise
}

a:visited {
  color: darkcyan;
}

header>div>h2 {
  margin: 0;
}

header>div {
  margin: 0;
  display: flex;
  gap: 2rem;
  align-items: center;
}

button {
  margin: 0;
  font-size: 1rem;
  border: 0;
  /* border-radius: 0.5rem; */
  background-color: var(--inverse-bg);
  color: var(--inverse-fg);
  padding: 0.5rem 1.2rem;
}

.output-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
}

textarea {
  resize: none;
  font-size: 14px;
  margin: 0;
  border: none;
  border-radius: 0px;
  padding: 10px;
  height: 100%;
  width: calc(50% - 1px);
  color: var(--normal-fg);
  background-color: var(--normal-bg);
  caret-color: var(--caret-color);
  box-sizing: border-box;
}

textarea:focus-visible {
  outline: none;
}

#content {
  display: flex;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  background-color: var(--inverse-bg);
  gap: 1px;
}

.cm-editor {
  font-size: 14px;
  height: 100%;
  width: calc(50% - 1px);
}

.cm-editor.cm-focused {
  outline: none;
}

.cm-scroller {
  overflow: auto;
}

.cm-editor .cm-cursor {
  border-left-color: var(--caret-color);
}