[submodule "craftinginterpreters"]
	path = craftinginterpreters
	url = https://github.com/munificent/craftinginterpreters.git
[submodule "loxlox"]
	path = loxlox
	url = https://github.com/mrjameshamilton/loxlox.git
[submodule "loxlox2"]
	path = loxlox2
	url = git@github.com:benhoyt/loxlox.git
