[submodule "craftinginterpreters"]
	path = craftinginterpreters
	url = https://github.com/munificent/craftinginterpreters.git
[submodule "loxlox"]
	path = loxlox
	url = https://github.com/mrjameshamilton/loxlox.git
