name: Linting

on:
  pull_request:
  push:
    branches: ["main"]
    paths:
      - ".github/workflows/linting.yml"
      - "app/**"
      - "Setup.hs"
      - "src/**"
      - "test/**"
jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - uses: haskell-actions/run-ormolu@v17
      with:
        pattern: |
          src/**/**.hs
          app/**/**.hs
          test/**/**.hs
          bench/**/**.hs

  hlint:
    runs-on: ubuntu-latest
    permissions:
      security-events: write # Needed to upload results to GitHub code scanning.
    steps:
    - uses: actions/checkout@v6

    - name: 'Set up HLint'
      uses: haskell-actions/hlint-setup@v2
      with:
        version: '3.8'

    - name: 'Run HLint Scan'
      uses: haskell-actions/hlint-scan@v1

    - name: 'Run HLint'
      uses: haskell-actions/hlint-run@v2
      with:
        path: '["app"]'
        fail-on: warning
