name: Web

# Trigger the workflow on push or pull request, but only for the main branch
on:
  pull_request:
      paths:
        - "app/**"
        - "asmh.cabal"
        - "cabal.project"
        - "Setup.hs"
        - "src/**"
        - "test/**"
        - "web/**"
  push:
      paths:
        - "app/**"
        - "asmh.cabal"
        - "cabal.project"
        - "Setup.hs"
        - "src/**"
        - "test/**"
        - "web/**"
  workflow_dispatch:

jobs:
  build:
    name: "Build website"
    runs-on: ubuntu-latest
    permissions:
        pages: write
        id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: nixbuild/nix-quick-install-action@v32
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - name: wasm-cabal-cache
        uses: actions/cache@v5
        with:
            key: wasm-cabal-cache-${{ hashFiles('dist-newstyle/cache/plan.json')}}
            restore-keys: wasm-cabal-cache-
            path: |
              ~/.ghc-wasm/.cabal/store
              dist-newstyle

      - name: Build site
        run: |
          nix develop --command bash -c "cd web && ./build.sh prod && ls dist/"

      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: './web/dist/'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4      
